<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Regalia Ordering System">
    <meta name="author" content="Steven Buglione">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/new_faculty_order_form.css" th:href="@{/css/new_faculty_order_form.css}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">
    <script type="text/javascript" th:src="@{/js/new_faculty_order_form.js}" src="../static/js/new_faculty_order_form.js"></script>

    <title>Regalia Ordering System</title>
    <!-- MyMarist Favicon -->
    <link rel="icon" type="image/png" th:href="@{images/marist_fox_profile.png}">
</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto " src="@{../static/images/Marist_College_Logo}" alt="Marist" th:src="@{images/Marist_College_Logo.svg}">
        <h2 class="mt-3">Regalia Order Form</h2>
        <p  text-align="center" class="lead">Fill out the form below to create/update your reglia information. Press the "Preview Order" button to see your changes. Press the "Submit Order" button to confirm. To clear the form, press "Clear Form".</p>
    </div>

    <div class="row">
        <hr class="mb-4">
        <div class="col-md-2 order-md-2 mb-4">
            
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">User Order Information</h4>
            <hr class="mb-4">
            <form action="#" th:action="@{/user/updated}" th:object="${user}"
            method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">         
                        <label>First Name</label>
                        <input type="text" th:field="*{first_name}" class="form-control" placeholder="First Name" value="" id="firstName" pattern="[A-Za-z]{1,15}" title="Only Characters" required>
                        <div class="invalid-feedback" id="msg">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Last Name</label>
                        <input type="text" th:field="*{last_name}" class="form-control" placeholder="Last Name" id="lastName" value="" pattern="[A-Za-z]{1,15}" title="Only Characters" required>
                        <div class="invalid-feedback">
                            Valid Last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Email</label>
                        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="name@domain.com" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,50}" title="Only Characters" required>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Phone Number</label>
                      <input type="number" th:field="*{phone_number}" class="form-control" id="phoneNumber" placeholder="914-554-2354" required>
                      <div class="invalid-feedback">
                          Please enter your Phone Number.
                      </div>
                  </div>
                </div>
                <hr class="mb-4">
                

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Department</label>
                        <select th:field="*{Department}" class="custom-select d-block w-100" id="department" required>
                            <option value="">Choose...</option>
                            <div th:each="Department : ${departments}">
                                <option th:text="${Department.name}" th:value="${Department.name}">name</option>
                            </div>

                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid Department.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label>Cap Size</label>
                      <select th:field="*{cap_size}" class="custom-select d-block w-100" id="capSize" required>
                          <option value="">Choose...</option>
                          <div th:each="CapSize : ${capSizes}">
                              <option th:text="${CapSize.fitted}" th:value="${CapSize.fitted}">name</option>
                          </div>
                      </select>
                      <div class="invalid-feedback">
                          Please select a valid Cap Size.
                      </div>
                  </div>
                </div>

                
                <div class="row">
                  <div class="col-md-6 mb-3">
                        <label>Degree</label>
                        <select th:field="*{degree}" class="custom-select d-block w-100" id="degree" required>
                            <option value="">Choose...</option>
                            <div th:each="Degree : ${degrees}">
                                <option th:text="${Degree.name}" th:value="${Degree.name}">name</option>
                            </div>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid Degree.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Ceremony Schedule</label>
                        <select th:field="*{ceremony_date}" class="custom-select d-block w-100" id="ceremonyDate" required>
                            <option value="">Choose...</option>
                            <div th:each="Ceremony : ${ceremonies}">
                                <option th:text="${Ceremony.name}" th:value="${Ceremony.name}">name</option>
                            </div>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Day.
                        </div>
                    </div>
                    

                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Height Inches</label>
                        <select th:field="*{height_inches}" class="custom-select d-block w-100" id="heightInches" required>
                            <option value=0>Choose...</option>
                            <option value=48>48</option>
                            <option value=49>49</option>
                            <option value=50>50</option>
                            <option value=51>51</option>
                            <option value=52>52</option>
                            <option value=53>53</option>
                            <option value=54>54</option>
                            <option value=55>55</option>
                            <option value=56>56</option>
                            <option value=57>57</option>
                            <option value=58>58</option>
                            <option value=59>59</option>
                            <option value=60>60</option>
                            <option value=61>61</option>
                            <option value=62>62</option>
                            <option value=63>63</option>
                            <option value=64>64</option>
                            <option value=65>65</option>
                            <option value=66>66</option>
                            <option value=67>67</option>
                            <option value=68>68</option>
                            <option value=69>69</option>
                            <option value=70>70</option>
                            <option value=71>71</option>
                            <option value=72>72</option>
                            <option value=73>73</option>
                            <option value=74>74</option>
                            <option value=75>75</option>
                            <option value=76>76</option>
                            <option value=77>77</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid Height.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Weight</label>
                        <input type="number" th:field="*{weight}" class="form-control" placeholder="Weight" id="weight" value="" required>
                        <div class="invalid-feedback">
                            Valid Weight is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Granting Institution</label>
                        <input type="text" th:field="*{granting_institution}" class="form-control" id="grantingInstitution" placeholder="Granting Institution" value="" pattern="[A-Za-z]{1,15}" title="Only Characters" required>
                        <div class="invalid-feedback">
                            Valid Granting Institution is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Institution State</label>
                        <select th:field="*{granting_state}" class="custom-select d-block w-100" id="institutionState" required>
                            <option value="">Choose...</option>
                            <div th:each="State : ${states}">
                                <option th:text="${State.name}" th:value="${State.name}">name</option>
                            </div>
                        </select>
                    </div>
                </div>        
                <div class="row" style="justify-content: center;">
                    <div class="col-md-6 mb-3">
                        <label>Institution City</label>
                        <input type="text" th:field="*{granting_city}" class="form-control" id="institutionCity" placeholder="Institution City" value="" pattern="[A-Za-z]{1,15}" title="Only Characters" required>
                        <div class="invalid-feedback">
                            Valid Institution City is required.
                        </div>
                    </div>
                </div>

                <div hidden>
                    <label>CWID</label>
                    <select th:field="*{username}" class="custom-select d-block w-100" required>
                        <option th:value="${CWID}"selected>CWID</option>
                    </select>
                </div>



                <hr class="mb-4">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <button input type="reset" class="btn btn-danger mr-4">
                            Clear Form
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" onclick="getModalData()" data-toggle="modal" data-target="#previewOrderForm" aria-required="true">
                            Preview Order
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="previewOrderForm" tabindex="-1" role="dialog" aria-labelledby="previewOrderFormLable" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="previewOrderFormLable">Regalia Ordering System</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <div class="container-fluid">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-muted">Review Your Order</span>
                                    </h4>
                                    <ul class="list-group mb-3" >
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">First Name</h6>
                                            </div>
                                            <span class="text-muted" id="FirstName"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Last Name</h6>
                                            </div>
                                            <span class="text-muted" id="LastName"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div>
                                                <h6 class="my-0">Email</h6>
                                            </div>
                                            <span class="text-muted" id="Email"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Phone Number</h6>
                                            </div>
                                            <span class="text-muted" id="PhoneNumber"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Department</h6>
                                            </div>
                                            <span class="text-muted" id="Department"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Cap Size</h6>
                                            </div>
                                            <span class="text-muted" id="CapSize"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Degree</h6>
                                            </div>
                                            <span class="text-muted" id="Degree"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Weight</h6>
                                            </div>
                                            <span class="text-muted" id="Weight"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Height Inches</h6>
                                            </div>
                                            <span class="text-muted" id="HeightInches"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Granting Institution</h6>
                                            </div>
                                            <span class="text-muted" id="GrantingInstitution"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Institution State</h6>
                                            </div>
                                            <span class="text-muted" id="InstitutionState"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Institution City</h6>
                                            </div>
                                            <span class="text-muted" id="InstitutionCity"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                            <div >
                                                <h6 class="my-0">Ceremony Date</h6>
                                            </div>
                                            <span class="text-muted" id="CeremonyDate"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit your order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        
    

                <footer class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; Marist Regalia Team</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Documentation</a></li>
                        <li class="list-inline-item"><a href="https://github.com/StevenBuglione/Regalia-Ordering-System">GitHub</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                    </ul>
                </footer>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </div>
    </body>
</html>
