<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Regalia Ordering System">
    <meta name="author" content="Steven Buglione">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/admin_dashboard.css" th:href="@{/css/admin_dashboard.css}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

    <title>Admin Dashboard</title>
</head>
<body>
<div align="center">
    <h1>User Profile List</h1>
    <a href="/new-order">Add new User</a>
    <br/><br/>
    <table class="table" border="1" cellpadding="10">
        <thead class="thead-dark" >
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Enabled</th>
            <th>Phone Number</th>
            <th>Ceremony Date</th>
            <th>Cap Size</th>
            <th>Degree</th>
            <th>Department</th>
            <th>Granting Institution</th>
            <th>Granting City</th>

            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="User : ${listUsers}">
            <td th:text="${User.id}">Id</td>
            <td th:text="${User.email}">Email</td>
            <td th:text="${User.username}">Username</td>
            <td th:text="${User.first_name}">First Name</td>
            <td th:text="${User.last_name}">Last Name</td>
            <td th:text="${User.enabled}">Phone Number</td>
            <th th:text="${User.phone_number}">Ceremony Date</th>
            <th th:text="${User.ceremony_date}">Ceremony Date</th>
            <td th:text="${User.cap_size}">Cap Size</td>
            <td th:text="${User.degree}">Degree</td>
            <td th:text="${User.department}">Department</td>
            <td th:text="${User.granting_institution}">Granting Institution</td>
            <td th:text="${User.granting_city}">Granting City</td>
            <th th:text="${User.granting_state}">Granting State</th>
            <th th:text="${User.last_updated}">Last Updated</th>





            <td th:text="${User.ceremony_date}">Ceremony Date</td>



            <td>
                <a th:href="'edit/' + ${User.id}">Edit</a>

                <a th:href="'delete/' + ${User.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
